:root {
  --theme-color-main: #5f458c;
  --theme-color-hover: #a67ee5;
}

.theme.theme--1 {
  --theme-color-main: #a67ee5;
  --theme-color-hover: #5f458c;
}

.theme.theme--2 {
  --theme-color-main: #3e72ee;
  --theme-color-hover: #9fceff;
}

.theme.theme--3 {
  --theme-color-main: #90b8e2;
  --theme-color-hover: #3e72ee;
}

@media (max-width: $tablet) and (orientation: portrait) {
  .theme.theme--1,
  .theme.theme--2,
  .theme.theme--3 {
    --theme-color-main: #5f458c;
    --theme-color-hover: #a67ee5;
  }
}

@media (max-width: $mobile) and (orientation: landscape) {
  .theme.theme--1,
  .theme.theme--2,
  .theme.theme--3 {
    --theme-color-main: #5f458c;
    --theme-color-hover: #a67ee5;
  }
}
